#introducao {
}
#segundoparagrafo {
}
span {
}
div{
	width: 320px;
	height: 320px;
	border: 2px solid black;

	background-color:#6699FF;
	background-color: ActiveBorder;

	background-image:url("img/GSK.jpg");

	background-repeat:no-repeat; /* Somente uma */
	background-repeat:repeat-x; /* Repete no eixo x */
	background-repeat:repeat-y; /* Repete no eixo y */

	background-attachment: fixed; /* alinha a imagem da div com o corpo*/
	background-attachment: scroll; /* principal é o div e nao o body */
	
	background-position: left top; /* posicao da imagem dentro da div */
	background-position: center top;
	background-position: right bottom;
	background-position: 20px 90px;
	background-position: 50% 50%;

	background: red url("img/GSK.jpg") repeat-x 30px 30px fixed; /* resumido */
}
