#introducao {
}
#segundoparagrafo {
}
div{
}
a {
}
a:hover {
}
a[href^="http:"] { 
}
a[href^="mailto:"] {
}
a[href$=".zip"] { 
}	
img {
	float: right;
}
a img { 
}
ul {
}
li {
	float: left;
	width: 150px;
}
h1, h2, h3, p {
	border: 1px solid black;
	width: 200px;
	float: left;
}
span {
	border: 1px solid black;
	position: static;
	left: 60px; /* mesmo estando no position normal vai funcionar o left e right */
	right: 30px; /* vai funcionar porque span é um elemento in-line */
}

#um {
	clear:both; /* limpando o float que foi aplicado no h1 */
}
#dois {
	position: static;
	left: 60px; /* como estamos no normal, static, o left e right nao funciona */
	right: 30px; /* nao funciona no posicion normal nos em bloco */
	float: right;
}
#tres {
	left: 60px; /* como estamos no normal, static, o left e right nao funciona */
	right: 30px; /* nao funciona no posicion normal nos em bloco */
	float: right;
}	
.destaque {
	width:40%;
	float: right;
	border: 1px solid black;
	background-color: yellow;
}


