
h1 {
	font-family: Arial;
	color:purple;
}

.important {
	color:red;
}

#somesuch {
	color:blue;
}

span.important {
	colocr:darkred;
}

h1, h2, h3, p.important {
	margin-left: 50px;
}

a:link{
	text-decoration: none;
	text-decoration: greenyellow;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	text-decoration: darkgreen;
}

p:first-letter {
	font-size: 3em;
}

article:before {
	content:"******";
}

article:after {
	content:"url(nelson)";
}

p:first-of-type{
	margin-right: 200px;
}

li:first-child {
	font-style: italic;
}

li:last-child {
	font-weight: bold;
}

li:nth-of-type(3){
	text-decoration: underline;
} /* every 3 list item */

span[title] { /* span , that has a title */
	color: black;
}

span[title="first idea"] { /* span with title first idea */
	text-decoration: line-through;
}

a[href^"email"]{ /* href beggining with email ^^^^^ simble */
	font-size: 2em;
}

span[title$="idea"]{ /* title that ends with idea */
	text-decoration: overline;
}

article span{} descendant
a * b -- universal b with a regardless of b´s parents
a > b -- b direct child of a
a + b -- b is sibling of a immediately following a
a - b -- b is a general sibling of a
